body {
    background-color: #d5e1ef;
}
.Bigbox-1{
    background-color: white;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
}
.Bigbox-2{
    margin: auto;
    width: 288px;
    height: 288px;
}
.t1{
    font-size: 22px;
    text-align: center;
    font-family: outfit,sans-serif;
    font-weight: 700;
    line-height: 120%;
}
.t2{
    font-size: 15px;
    text-align: center;
    font-family: outfit,sans-serif;
    color: #1f314f;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #5c5c5c;
}
.Bigbox-2{
    height: 288px;
    width: fit-content;
}